/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-78cc118f-jyeyrozb version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb.master.item-box   {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .preview-title  ,  .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .preview-body h1  { font-size:calc( 10px + ( 24rem - 10rem ) );
						margin-right: 20px;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						font-weight: bold;
						
						margin-top: 25px;
						
						margin-left: 20px;
						
						margin-bottom: 5px;
						
						font-family: Arial;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .preview-link-img  {
		
						width: 40px;
						
						margin: 4px;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb  .preview-content-holder  {
		
						margin-right: 20px;
						
						text-align: center;
						
						background-color: rgba(246, 239, 217, 0);
						
						margin-left: 20px;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .preview-item-links span  ,  .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb #sr-basket-widget *  { 
						color: #ffffff;
						
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );	
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 20px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .inner-pic  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 40px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .preview-element.icon-source  {
		
						padding-right: 20px;
						
						padding-left: 20px;
						
						width: 40px;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .middle_layout .helper-div  ,  .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .preview-subtitle  ,  .style-78cc118f-0gagjnuo .style-78cc118f-jyeyrozb .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						line-height: 1.2em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-78cc118f-0gagjnuo version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-78cc118f-0gagjnuo .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-78cc118f-0gagjnuo .Subtitle  ,  .master .style-78cc118f-0gagjnuo .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-78cc118f-0gagjnuo .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-78cc118f-0gagjnuo .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-78cc118f-0gagjnuo .Title  ,  .master .style-78cc118f-0gagjnuo .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-78cc118f-0gagjnuo .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-78cc118f-0gagjnuo .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-78cc118f-0gagjnuo .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-78cc118f-0gagjnuo .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-78cc118f-0gagjnuo .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-78cc118f-0gagjnuo .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-78cc118f-0gagjnuo.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Fira Mono;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: HelveNueThinNormal;
					
		}
	
	
	
			  .header-box + .master.item-box.fill-height , 
			  #menu-placeholder + .master.item-box.fill-height { 
						min-height: calc(100vh - 0px)!important;
					
		}
	
	
	
			#xprs.in-editor  .header-box + .control-handle + .master.item-box.fill-height , 
			#xprs.in-editor  #menu-placeholder + .control-handle + .master.item-box.fill-height { 
						min-height: calc(100vh - 50px)!important;
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-78cc118f-mhuhleis version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis.master.item-box   {
		
						position: relative;
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .preview-item-links span:hover  ,  .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: right;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .preview-item-links span  ,  .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(159, 159, 159);
						
						padding-bottom: 19px;
						
						border-color: rgb(246, 246, 246);
						
						letter-spacing: 0.05em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 19px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .preview-title  ,  .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .preview-body h1  { font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(30, 30, 30);
						
						letter-spacing: 0.0em;
						
						font-weight: bold;
						
						font-family: Arial;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .preview-item-links.allow-bg-color  ,  .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .submenu  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .preview-element.icon-source  {
		
						margin-right: 10px;
						
						margin-bottom: 5px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						width: 50px;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: right;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .preview-subtitle  ,  .style-78cc118f-0gagjnuo .style-78cc118f-mhuhleis .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-78cc118f-x8rpk6uj version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .preview.image-cover  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .inner-pic  {
		
						opacity: 0.99;
						
						background-size: cover;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj #pagination-holder  {
		
						font-family: Times New Roman;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(131, 131, 131);
						
						padding-bottom: 10px;
						
						border-color: rgb(131, 131, 131);
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						border-width: 1px;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .background-div  {
			
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .preview-title  ,  .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 32rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						font-family: Fira Mono;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .preview-item-links span  ,  .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj #sr-basket-widget *  { 
						font-style: italic;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						font-family: 'Times New Roman';
						
						color: rgb(182, 182, 182);
						
						padding-bottom: 10px;
						
						border-color: rgb(94, 94, 94);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 5px;
						
						border-width: 1px;
						
						background-color: rgba(159, 14, 14, 0);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .preview-element.icon-source  {
		
						margin-left: 20px;
						
						width: 40px;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .blocks-preview-content-holder  {
		
						text-align: left;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .preview-icon-holder  {
		
						text-align: left;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .preview-price  {
		
						color: rgb(248, 248, 248);
						
						font-family: Arial;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .preview-item-links span:hover  ,  .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .blocks-preview-icon-holder .icon-source  {
		
						margin-bottom: 0px;
						
						margin-top: 0px;
						
						width: 810px;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .blocks-preview-content-wrapper  {
		
						text-align: left;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .preview-body  {
		
						font-family: HelveNueThinNormal;
						font-size:calc( 10px + ( 24rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 300px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .blocks-preview-item-links .Link  {
		
						padding-bottom: 0px;
							
		}
	
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .blocks-preview-icon-holder  {
		
						text-align: left;
							
		}
	 .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .preview-subtitle  ,  .style-78cc118f-0gagjnuo .style-78cc118f-x8rpk6uj .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
